<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title text="Eivor Git Bot Integration Settings"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">
</head>

<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>

    <form class="form-horizontal" th:action="@{'/integrations/' + ${submit}}" method="post"
          name="frm"
          th:object="${integration}">

        <div class="form-group">
            <label class="control-label col-sm-2">App Name:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{appName}" class="form-control"
                       placeholder="Friendly name">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Server Url:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{serverUrl}" class="form-control"
                       placeholder="https://gitlab.com">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Bot Username:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{botUsername}" class="form-control"
                       placeholder="Username of the bot user">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Secret Token:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{secret}" class="form-control"
                       placeholder="GitLab Webhook Secret Token">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">GitLab Access Token:</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{token}" class="form-control"
                       placeholder="GitLab User Access Token">
            </div>
        </div>

        <th:block th:if="${integration.preferences != null}">
            <hr>
            <h3>Merge Request Settings</h3>

            <div class="form-group">
                <label class="control-label col-sm-2">Title Validation Pattern:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{preferences.mrPattern}" class="form-control"
                           placeholder="RegEx Pattern for Valid MR Titles">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Merge Request Closed Comment:</label>
                <div class="col-sm-10">
                <textarea class="form-control" rows="20" th:field="*{preferences.mrFailedComment}">
                </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Merge Request Accepted Comment:</label>
                <div class="col-sm-10">
                <textarea class="form-control" rows="20"
                          th:field="*{preferences.mrAcceptedComment}">
                </textarea>
                </div>
            </div>
        </th:block>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Save</button>
                <a href="/">Cancel</a>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/1.12.0/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>
